body {
  height: 100%;
  font-size: 12px;
  text-align: center;
  padding: 0%;
  margin: 0%;

}

h1 {
  color: black;
}


#canvasContainer{
  padding: .2%;
  padding-left: 60%;
}

header {
  background-color: #C9C9C9;
  padding: 1% 0% 1% 0px;
}
